# Pure custom git alias that suits my preference. This has no relevance to any other git alias that you may have seen from somewhere else 

alias gh='gh';
alias g='git';
alias gb='git branch';
alias gba='git branch -a';
alias gcl='git clone --recursive';
alias gs='git status';
alias gcm='git checkout main';
alias gcd='git checkout develop';
alias gco='git checkout';
alias gcb='git checkout -b';
alias ga='git add';
alias gaa='git add --all';
alias gc='git commit';
alias gf='git fetch';
alias gfa='git fetch --all';
alias gl='git pull';
alias gla='git pull --all';
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --branches --abbrev-commit"
alias gp='git push';
alias gd='git diff';
alias gm='git merge';
alias grb='git rebase';

# Miscellaneous aliases
alias ll="ls -la";

# Directory aliases
alias sgcarstrends="cd $HOME/projects/@sgcarstrends"
alias tartinerlabs="cd $HOME/projects/@tartinerlabs"
